.fixed-height {
	height:200px;
}

.scroll-y {
	overflow-y: auto;
	height:70%;
}
.add-item {
	text-align:center;
}
.padded {
	padding-left:15px;
	padding-right:15px;
	}
.huge {
	font-size: 3em;
	}
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.my-hidden {
	opacity:0;
	}
.none-hidden {
	display:none;
	}
.remove-item {
	padding-top:0px;
	}
